<strong>Olá, {{courier}}</strong>
<p>Uma encomenda foi cancelada! </p>
<p>
  <strong>Destinatário: </strong> {{destinatario}} <br/>
  <strong>Endereço: </strong> {{logradouro}} <br/>
  <strong>CEP: </strong> {{cep}} <br/>
  <strong>Cidade: </strong> {{cidade}} <br/>
</p>
